<!-- Side Panel -->
<div id="sidebar">
    <span class="closebtn" onclick="toggleSidebar()">&times;</span>
    <h2>Tools</h2>
    <p>Please follow the dataset and model creation workflows on the Home page for most use cases.</p>
    <p>If you only need to use a specific tool or to change settings, click on a link below</p>
    <ul>
        <li><a href="{% url 'home-view' %}">Home (Workflows)</a></li>
        <li><a href="{% url 'chatbot-view' %}">Chatbot Testing</a></li>
        <li><a href="{% url 'scrape-view' %}">Data Processing</a></li>
        <li><a href="{% url 'train-view' %}">Model Training</a></li>
        <li><a href="{% url 'generate_q_and_a' %}">Dataset Generator</a></li>
        <li><a href="{% url 'model-statistics' %}">Model Statistics</a></li>
        <li><a href="{% url 'settings-view' %}">Settings</a></li> 
    </ul>
</div>