.chatBotToggle {
    position: relative;
    height: 100vh; /* Make sure it's the full height of the viewport */
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #3498db; /* Blue color */
    border-radius: 50%;
    position: fixed;
    bottom: 20px; /* 20px from the bottom */
    left: 95%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust the circle's position to truly center it */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    cursor: pointer; /* Changes the cursor when hovering over the circle */
    overflow: hidden; /* Ensures the image stays within the circle */
}

.chatbotIcon {
    width: 30px; /* Image size inside the circle */
    height: 30px; /* Image size inside the circle */
    object-fit: cover; /* Ensures the image fits within the circle without distortion */
}

.circle:hover {
    background-color: #2980b9; /* Darker blue color on hover */
}
